header{
     background-image: url(../img/bg_header.jpg);
     background-repeat: no-repeat;
     background-position: 60% 0;
     background-size: 105%;
     height: 100px;
}
@media (max-width:1250px) {
     header{
          background-image: url(../img/bg_header.jpg);
          background-repeat: no-repeat;
          background-position: 60% 0;
          background-size: 155%;
          height: 100px;
     }
}
@media (max-width:880px) {
     header{
          background-image: url(../img/bg_header.jpg);
          background-repeat: no-repeat;
          background-position: 60% 0;
          background-size: 205%;
          height: 100px;
     }
}
@media (max-width:768px) {
     header{
          background-image: url(../img/bg_header.jpg);
          background-repeat: no-repeat;
          background-position: 60% 0;
          background-size: 505%;
          height: 100px;
     }
}
.inner_header__upper-boxs-logo{
     width: 179px;
     height: 45px;
     background-image: url(../img/logo.svg);
     background-repeat: no-repeat;
     background-size: 100%;
}
.header__upper-boxs-socia-instagram {
     width: 17px;
     height: 17px;
     background-image: url(../img/header/header_social-btns/instagram.svg);
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
}
.header__upper-boxs-socia-youtube {
     width: 17px;
     height: 17px;
     background-image: url(../img/header/header_social-btns/youtube.svg);
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
}
.header__upper-boxs-socia-telegram {
     width: 17px;
     height: 17px;
     background-image: url(../img/header/header_social-btns/telegram.svg);
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
}
.header__upper-boxs-socia-facebook {
     width: 9px;
     height: 20px;
     background-image: url(../img/header/header_social-btns/facebook.svg);
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
}
.inner_header__upper-boxs-number-phone-icon{
     width: 17px;
     height: 17px;
     background-image: url(../img/header/icon/phone.svg);
     background-repeat: no-repeat;
     background-size: 100%;
}

.inner_header__lover-boxs-dark_mode-sun {
     background-image: url(../img/header/sun.svg);
     background-repeat: no-repeat;
     background-size: 100%;
     height: 35px;
}
.inner_header__lover-boxs-dark_mode-moon {
     background-image: url(../img/header/moon.png);
     background-repeat: no-repeat;
     background-size: 100%;
     color: aliceblue;
}
.inner_header__lover{
     box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.inner_header__lover-boxs-search{
     background-image: url(../img/icons/search.svg);
     background-repeat: no-repeat;
     background-size: 100%;
}
.block_boxs__item_img_1{
     background-image: url(../img/sec_1/image_1.png);
     background-repeat: no-repeat;
     background-size: 100%;
}
.block_boxs__item_img_2{
     background-image: url(../img/sec_1/image_2.png);
     background-repeat: no-repeat;
     background-size: 100%;
}
.block_boxs__item_img_3{
     background-image: url(../img/sec_1/image_3.png);
     background-repeat: no-repeat;
     background-size: 100%;
}
@media (width < 1218px) {
     .sec_1{
          display: block;
     }
     .block_slider_1{
          width: 100%;
     }
     .slick-list{
          width: 100%;
     }
     .block_boxs__items{
          flex-direction: row;
          background-color: white;
     }
}
